@import url("https://fonts.googleapis.com/css?family=Roboto:300");

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background: #181818;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

